.bems-profile-wrapper-pie.panel-body.row
  .col-md-2.col-sm-4.col-xs-12
    .form-group.row{:style => "margin-top: 4px;"}
      .col-md-3.col-sm-2.col-xs-1
        %label.bems-profile-sort-icon.control-label.control-label-icon{:for => "bems-profile-sort"}
          %i.bems-profile-sort-icon.material-icons sort_by_alpha
      .col-md-9.col-sm-10.col-xs-10
        %select#bems-profile-sort-select.form-control{"ng-model" => "profileSort", "ng-change" => "profileSorting(profileSort)"}
          %option{:value => 1, "ng-selected" => "1"} Name A -> Z
          %option{:value => 2} Name Z -> A
          %option{:value => 3} Energy Low -> High
          %option{:value => 4} Energy High -> Low
          %option{:value => 5} Power Low -> High
          %option{:value => 6} Power High -> Low
          %option{:value => 7, "ng-show" => "profileType !== 'bill' ? true:false"} Peak Low -> High
          %option{:value => 8, "ng-show" => "profileType !== 'bill' ? true:false"} Peak High -> Low
          %option{:value => 9, "ng-show" => "profileType === 'bill' ? true:false"} Bill Low -> High
          %option{:value => 10, "ng-show" => "profileType === 'bill' ? true:false"} Bill High -> Low
  .col-md-4.col-sm-8.col-xs-12
    .bems-profile-group.btn-group.btn-group-justified.btn-group-raised
      %a.btn.bems-profile-group-day{"ng-class" => "{'btn-primary' : profileGap === 'day' ? true:false}", "ng-click" => "gapTabbing('day')"} DAY
      %a.btn.bems-profile-group-month{"ng-class" => "{'btn-primary' : profileGap === 'month' ? true:false}", "ng-click" => "gapTabbing('month')"} MONTH
      %a.btn.bems-profile-group-year{"ng-class" => "{'btn-primary' : profileGap === 'year' ? true:false}", "ng-click" => "gapTabbing('year')"} YEAR
  .col-md-4.col-sm-8.col-xs-12
    .bems-profile-energy.btn-group.btn-group-justified.btn-group-raised
      %a.btn.bems-profile-energy-energy{"ng-class" => "{'btn-primary' : profileType === 'peak' ? true:false}", "ng-click" => "typeTabbing('peak')"} PEAK
      %a.btn.bems-profile-energy-peak{"ng-class" => "{'btn-primary' : profileType === 'energy' ? true:false}", "ng-click" => "typeTabbing('energy')"} ENERGY
      %a.btn.bems-profile-energy-bill{"ng-class" => "{'btn-primary' : profileType === 'bill' ? true:false}", "ng-click" => "typeTabbing('bill')"} BILL
  .col-md-2.col-sm-4.col-xs-12
    %a.bems-profile-compare-button.btn.btn-raised.btn-info.btn-block{"ng-click" => "getPie();reFlowPie()"}
      %span.bems-profile-compare-icon.glyphicon.glyphicon-signal{"aria-hidden" => "true"}
      %span.bems-profile-compare-text &nbsp; Compare
  #bems-profile-pie.bems-profile-pie.col-xs-12{"ng-show" => "profilePie"}
    %button.btn.btn-danger{"ng-click" => "profilePie = false"}
      %i.material-icons
      close
    %highchart#bems-profile-pie-chart.bems-profile-pie-chart.span10{"config" => "pieData"}