%br
%br
.bems-room-section-legend.row
  .col-lg-4.col-md-6.col-sm-5.col-xs-6
    %img.icon-legend-img{:src => "svg/light.svg"}
    %span.icon-legend-text &nbsp; Light
  .col-lg-4.col-md-6.col-sm-7.col-xs-6
    %img.icon-legend-img{:src => "svg/sensor.svg"}
    %span.icon-legend-text &nbsp; Multisensor
  .col-lg-4.col-md-6.col-sm-5.col-xs-6
    %img.icon-legend-img{:src => "svg/outlet.svg"}
    %span.icon-legend-text &nbsp; Outlet
  .col-lg-4.col-md-6.col-sm-7.col-xs-6
    %img.icon-legend-img{:src => "svg/air.svg"}
    %span.icon-legend-text &nbsp; A/C
  .col-lg-4.col-md-6.col-sm-7.col-xs-6
    %img.icon-legend-img{:src => "svg/air3.svg"}
    %span.icon-legend-text &nbsp; A/C 3 Phase