+include 'src/dev/markups/partials/header.haml'
.bems-outer-wrapper
  .bems-wrapper.bems-admin
    .bems-admin-container.bems-container.panel.panel-default
      .bems-login-header.panel-heading.panel-superheader System Status
      .panel-body.row{"ng-controller" => "systemAdminCtrl"}
        .btn-toolbar.col-xs-12
          .btn-group.btn-group-justified.btn-group-raised
            .bems-admin-button.btn{"ng-click" => "tabbing(true)", "ng-class" => "{'btn-primary': tab}"} Point ID Status
            .bems-admin-button.btn{"ng-click" => "tabbing(false)", "ng-class" => "{'btn-primary': !tab}"} Web Log
        .bems-admin-tab-point.col-xs-12{"ng-show" => "tab"}
          +include 'src/dev/markups/admin-status/point.haml'
        .bems-admin-tab-point.col-xs-12{"ng-show" => "!tab"}
          +include 'src/dev/markups/admin-status/log.haml'
+include 'src/dev/markups/partials/footer.haml'
