+include 'src/dev/markups/partials/header.haml'
.bems-outer-wrapper
  .bems-wrapper.bems-search
    .bems-search-container.bems-container.panel.panel-default{"ng-controller" => "compareAdminCtrl"}
      .bems-login-header.panel-heading.panel-superheader Compare Graph
      +include 'src/dev/markups/admin-compare/compare.haml'
      +include 'src/dev/markups/admin-compare/point.haml'
+include 'src/dev/markups/partials/footer.haml'
