+include 'src/dev/markups/partials/header.haml'
.bems-outer-wrapper
  .bems-wrapper.bems-admin
    .bems-admin-container.bems-container.panel.panel-default
      .bems-login-header.panel-heading.panel-superheader Structure Power Setting
      .panel-body.row{"ng-controller" => "adminBuildingPowerCtrl"}
        .btn-toolbar.col-xs-12
          .btn-group.btn-group-justified.btn-group-raised
            .bems-admin-button.btn{"ng-click" => "tabbing(true)", "ng-class" => "{'btn-primary': tab}"}  Summary
            .bems-admin-button.btn{"ng-click" => "tabbing(false)", "ng-class" => "{'btn-primary': !tab}"} Setting
        .bems-admin-tab-point.col-xs-12{"ng-show" => "tab"}
          +include 'src/dev/markups/admin-building/power/display.haml'
        .bems-admin-tab-point.col-xs-12{"ng-show" => "!tab"}
          +include 'src/dev/markups/admin-building/power/setting.haml'
+include 'src/dev/markups/partials/footer.haml'
+include 'src/dev/markups/admin-highlight/modal.haml'
