+include 'src/dev/markups/partials/header.haml'
.bems-outer-wrapper
  .bems-wrapper.bems-admin
    .bems-admin-container.bems-container.panel.panel-default
      .bems-login-header.panel-heading.panel-superheader Point Structure Setting
      .panel-body.row{"ng-controller" => "structureAdminCtrl"}
        .col-xs-12.col-md-6
          +include 'src/dev/markups/admin-structure/directory.haml'
        .col-xs-12.col-md-6{"ng-hide" => "hideNode"}
          +include 'src/dev/markups/admin-structure/detail.haml'
+include 'src/dev/markups/partials/footer.haml'
